.mtk5 {
  color: #baf0fd;
  /* text-shadow: 0 0 15px #12baff; */
  text-shadow: 0 0 2px #2385ac, 0 0 8px #5fd5f075, 0 0 2px #54caf175;
}

.mtk8,
 .mtk14 {
   color: #f4eee4;
   text-shadow: 0 0 2px #393a33, 0 0 8px #f5b84775, 0 0 2px #f8b84275;
 }

.monaco-editor .current-line {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 0 4px 2px rgba(0, 200, 255, 0.1) inset;
}
.monaco-editor .margin,
.monaco-editor .inputarea.ime-input {
  background: transparent;
}

.monaco-editor {
  background: transparent !important;
  background: none !important;
}


.monaco-editor-background {
  background: none !important;
}

/* background_colors */
/* .monaco-editor .overflow-guard {
  background-image: linear-gradient(to bottom, #3a3c3d 50%,#000428);
  background-size: auto 100vh;
  background-position: top;
  background-repeat: no-repeat;
}
*/

 
/* Active tab Gradient Border  */
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit.active {
  box-shadow: inset 0 -5px 25px #72d5f925;
  position: relative;
}

/*Ficheiro selecionado la em cima*/
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit.active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 4px;
  background: linear-gradient(to right, #064470, #33e9ce) !important;
  opacity: 1;
  z-index: 6;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit {
  box-shadow: inset 0 -5px 25px #ebecf037;
  position: relative;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-fit::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 0px;
  transition: opacity 1s;
  opacity: 0;
  z-index: 6;
}



.monaco-workbench .activitybar>.content :not(.monaco-menu)>.monaco-action-bar .badge .badge-content {
  background: linear-gradient(to bottom, #0c5257 25%, #24f6e1) !important;
  color: #030038 !important;
}


.monaco-workbench .activitybar > .content :not(.monaco-menu) > .monaco-action-bar .action-item.checked .active-item-indicator:before{
 border:none ;
}


/* Active sidebar item  */
.monaco-workbench .activitybar>.content .monaco-action-bar .action-item.checked {
  box-shadow: inset 0 -5px 25px #8ea0ff25;
  position: relative;
}

.monaco-workbench .activitybar>.content .composite-bar>.monaco-action-bar .action-item::after {
  content: '';
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  width: 0px;
  transition: opacity 1s;
  display: inline-block ;
  opacity: 0;
  height: 0;
}

.monaco-workbench .activitybar>.content .composite-bar>.monaco-action-bar .action-item.checked::after{
 content: '' ;
 position: absolute ;
 bottom: 0px ;
 top: 0px ;
 left: 0px ;
 background:linear-gradient(to bottom, #3A1C71, #5ff7c7, #016e5e);
 opacity: 1 ;
 display: inline-block ;
 height: 100%;
 width: 4px;
 z-index: 2;
}